@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.blog {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 170vw;
  font-family: 'Comfortaa';
  flex-direction: column;
}

.blogContainer {
  display: flex;
  width: 100%; /* Ensure it takes up the full width of the .blog container */
  white-space: nowrap;
  margin-top: 10%;
  overflow-x: auto; /* Hide horizontal overflow */
  white-space: nowrap; /* Prevent wrapping */
}

.blogItem {
  flex: 0 0 auto; /* Ensure each item takes up its content width */
  width: 80vw; /* Set the width of each blog item */
  margin-left: 5%;
  margin-right: 5%;
}

.blogItem a {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

.imageContainer{
  display: flex;
  position: relative;
  width: 80%;
  border-radius: 20%;
}

.imageContainer img {
  display: flex;
  position: relative;
  width: 100%;
}
.blogShadow {
  display: flex;
  position: absolute;
  align-self: flex-end;
  width: 100%;
  height: 15%;
  background-color: black;
  opacity: 0.5;
}

.blogTexts {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 10%; /* Add padding to control the height */
  bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center; /* Center the text horizontally */
  box-sizing: border-box; /* Include padding in the height and width calculations */
}


.itemTitle {
  display: flex;
  position: relative;
  font-size: 4vw;
  overflow-wrap: break-word; 
}

.blogTitle {
  position: relative;
  font-size: 10vw;
  font-weight: bold;
}

.blogLinkCase{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vw;

}

.blogLinkCase a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
  width: 40vw;
  background-color: #E5017D;
  border-radius: 10vw;
  text-decoration: none;
  font-size: 3vw;
  color: black;
  text-decoration: none;
} 
