@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.contact {
  position: relative;
  display: flex;
  height: 176vw;
  background-image: url("../images/galata-yazisiz.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.shade{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.contactFormBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

.formTitleBottom {
  display: flex;
  text-align: center;
  margin-top: 10%;
  font-size: 5vw;
  margin-bottom: 10%;
  position: relative;
  font-family: 'Comfortaa', cursive;
  color: #ffffff;
  font-weight: bold;
}


.labelBottom {
  font-weight: bold;
  color: #333;
  font-size: 3vw;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 2vw;
  color: #ffffff;
  font-weight: bold;
}

.inputBottom {
  width: 90vw;
  height: 8vw;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10%;
  border-radius: 2vw;
  font-size: 3vw;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.submitButtonBottom {
  align-self: center;
  width: 50vw;
  height: 10vw;
  background-color: #E5017D;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 20vw; /* Adjust the value as needed */
  font-size: 5vw;
  color: #ffffff;
  font-weight: bold;
}

.contactInfo{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  justify-content: center;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.contInfoLeft{
  display: flex;
  flex-direction: column;
  align-items: end;
  border-right: 5px solid #b1189f;
}
.contInfoLeft div {
  color: #ffffff;
  font-size: 4vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
}

.contInfoRight{
  display: flex;
  flex-direction: column;
  align-items:start;
  border-left: 5px solid #b1189f;
}

.contInfoRight div {
  color: #ffffff;
  font-size: 4vw;
  margin-left: 2vw;
  margin-bottom: 2vw;
}

.smallIcons img{
  width: 5vw;
  margin-right: 4vw;
}
