@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.contactBig {
  height: 50vw;
  position: relative;
  z-index: 0;
  margin-bottom: -60px;
  display: flex;
  flex-direction: row;
  font-family: 'Comfortaa', cursive;
}

.contactBig .contLeft {
  background-image: url("../images/yarimada_bos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 5;
  display: flex;
  align-items: center;
}

.contactBig .contactInfo {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 50%;
}

.contactBig .leftDown {
  display: flex;
  flex-direction: row; 
}

.contactBig .contRight {
  background-image: url("../images/galata-yazisiz.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 2;
  border-left: 10px solid #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

.contactBig .contInfoLeft {
  position: relative;
  height: calc((3.5vh - 1vw) * 8);;
  flex:1;
  display: flex;
  text-align: right;
  padding-right: 10px;
  flex-direction: column;
  border-right: 3px solid #E5017D;
  margin-top: 50%;
  /* border: 5px solid rgb(168, 32, 32);
  box-sizing: border-box; */
}

.contactBig .contInfoRight { 
  position: relative;
  height: 13%;
  flex:3;
  display: flex;
  text-align: left;
  padding-left: 10px;
  flex-direction: column;
  margin-top: 50%;
}

.contactBig .contactInfoRight {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 3;
  text-align: right;
  padding: 3vw;
}

.contactBig .contInfoLeft div {
  font-size: 26px;
  color: #ffffff;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 10px;
}

.contactBig .contInfoRight div {
  font-size: 26px;
  color: #ffffff;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 10px;
}

.contactBig .bigText {
  position: relative;
  top: 0px;
  height: auto;
  text-align: end;
  font-size: 4vw;
  color: #ffffff;
  margin: 1px 0; /* Adjust the vertical margin as needed */
  padding: 0; /* Remove any additional padding */
  font-family: 'Comfortaa', cursive;
  margin-top: 5%;
  margin-right: 5%;
}

.contactBig .smallText {
  text-align: end;
  margin-right: 5%;
  font-size: 1.5vw;
  color: #ffffff;
  padding: 0; 
  position: relative;
  top: 0px;
}

.contactBig .smallIcons img {
  width: 24px;
  height: auto;
  margin-right: 5px; 
}
.contactBig a , .contactSmall a{
  text-decoration: none;
}

.contactBig .contRight .galataText {
  position: absolute;
  top: 1vw;
  right: 1vw;
  height: 2.5vw;
  border-right: 3px solid #E5017D;
}

.contactBig .contRight .galataText div{
  margin-right: 0.2vw;
  font-family: 'Comfortaa';
  text-align: end;
  font-size: 1vw;
}



.tradeMark {
  position: absolute;
  bottom: 0;
  margin-right: 0.2vw;
  font-family: 'Comfortaa';
  font-size: 1vw;
  color: #ffffff;
  text-align: end;
}







  .contactSmall {
    height: 40vh;
    position: relative;
    z-index: 0;
    margin-bottom: -60px;
    display: flex;
    flex-direction: row;
    font-family: 'Comfortaa';
  }
  
  .contactSmall .contLeft {
    background-image: url("../images/yarimada_bos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 5;
    display: flex;
    align-items: center;
  }

  .contactSmall .contactInfo {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    height: 60%;
    width: 85%;
    top: 50%;
    margin-left: 10%;
  }
  
  .contactSmall .contRight {
    background-image: url("../images/galata-yazisiz.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 2;
    border-left: 10px solid #ffffff;
  }
  
  .contactSmall .contInfoLeft {
    position: relative;
    height: 50%;
    flex:1;
    display: flex;
    text-align: right;
    padding-right: 10px;
    flex-direction: column;
    border-right: 3px solid #E5017D;
  }

  .contactSmall .contInfoRight { 
    position: relative;
    height: 50%;
    flex:3;
    display: flex;
    text-align: left;
    padding-left: 10px;
    flex-direction: column;
  }

  .contactSmall .endSide {
    position: relative;
    padding-right: 20px;
    padding-bottom: 30px;
    flex: 3;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  
  .contactSmall .contInfoLeft div {
    font-size: 26px;
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 10px;
  }

  .contactSmall .contInfoRight div {
    font-size: 26px;
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 10px;
  }

  .contactSmall .endSide .bigText {
    font-size: 4vw;
    color: #ffffff;
    margin: 1px 0; 
    padding: 0; 
    font-family: 'Comfortaa', cursive;
  }
  

  .contactSmall .endSide .smallText {
    font-size: 1.5vw;
    color: #ffffff;
    margin: 1px 0;   
    padding: 0;    
  }

  .contactSmall .smallIcons img {
    width: 24px;   
    height: auto;    
    margin-right: 5px; } 
    
   
    .contactSmall .contRight .galataText {
      position: absolute;
      top: 1vw;
      right: 1vw;
      height: 2.5vw;
      border-right: 3px solid #E5017D;
    }
    
    .contactSmall .contRight .galataText div{
      margin-right: 0.2vw;
      font-family: 'Comfortaa';
      text-align: end;
      font-size: 1vw;
    }





    .contactFormBottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    
    .formTitleBottom {
      display: flex;
      text-align: center;
      font-size: 2vw;
      margin-bottom: 2vw;
      position: relative;
      font-family: 'Comfortaa', cursive;
      color: #ffffff;
      font-weight: bold;
    }
    
    
    .labelBottom {
      font-weight: bold;
      color: #333;
      font-size: 1vw;
      margin-right: 10px;
      display: inline-block;
      margin-bottom: 2vw;
      color: #ffffff;
      font-weight: bold;
    }
    
    .inputBottom {
      width: 25vw;
      padding: 10px;
      border: 1px solid #ccc;
      margin-bottom: 2%;
      border-radius: 2vw;
      font-size: 1vw;
      text-align: center;
      color: #000000;
      font-weight: bold;
    }

    .formInputBottom {
      width: 25vw;
      padding: 10px;
      border: 1px solid #ccc;
      margin-bottom: 2%;
      border-radius: 2vw;
      font-size: 1vw;
      text-align: center;
      color: #000000;
      font-weight: bold;
    }


    
    .submitButtonBottom {
      align-self: center;
      width: 10vw;
      height: 3vw;
      background-color: #E5017D;
      color: black;
      border: none;
      cursor: pointer;
      border-radius: 20vw; /* Adjust the value as needed */
      font-size: 2vw;
      color: #ffffff;
      font-weight: bold;
    }

  