@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.landing-page {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    margin-bottom: -60px;
    font-family: 'Comfortaa';
    position: relative;
    overflow: hidden;
  }

  .video-bg {
    /* Set the video to cover the entire container */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .shaded-side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 80%);
  }

  .shaded-side img {
    width: 55vw; /* Adjust the width as desired */
    height: auto; /* Maintain aspect ratio */
    position: relative;
    transform: translateY(50px); /* Adjust this value to change the vertical position */
    align-self: flex-start; /* Add this line to align the image to the top of the container */
    top: 10vw
  }
  
  .section-button {
    position: absolute;
    top: 90vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .button {
    background-color: #E5017D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    font-size: 5vw;
    transition: background-color 0.3s, color 0.3s;
    opacity: 0.8;
  }
  
  .button:hover {
    background-color: #E5017D;
  }
  .text {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    font-family: 'Comfortaa', cursive;
  }
  .section {
    height: 100vh;
    padding: 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: -50;
  }
  .small-photo {
    position: absolute;
    bottom: 20px; /* Adjust the bottom position as desired */
    right: 20px; /* Adjust the right position as desired */
  }
  .small-photo img {
    width: 80px; /* Adjust the width of the small photo as desired */
    height: auto; /* Maintain aspect ratio */
  }

  