@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');


.landing-page {
    height: 110vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    margin-bottom: -60px;
    font-family: 'Comfortaa', cursive;
    position: relative;
    overflow: hidden;
  }

  .video-bg {
    /* Set the video to cover the entire container */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1; /* Initial opacity */
  }
  
  .shaded-side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 80%);
  }

  .shaded-side img {
    width: 70vw; /* Adjust the width as desired */
    height: auto; /* Maintain aspect ratio */
    position: relative;
    transform: translateY(50px); /* Adjust this value to change the vertical position */
    align-self: flex-start; /* Add this line to align the image to the top of the container */
    top: 10vw
  }
  
  .section-button {
    position: absolute;
    top: 110vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .askButton {
    width: 50vw;
    height: 10vw;
    background-color: #E5017D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    font-size: 5vw;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10vw;
  }
  
  .askButton:hover {
    background-color: #E5017D;
  }
  .text {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    font-family: 'Comfortaa', cursive;
  }
  .section {
    height: 100vh;
    padding: 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: -50;
  }
  .small-photo {
    position: absolute;
    bottom: 20px; /* Adjust the bottom position as desired */
    right: 20px; /* Adjust the right position as desired */
  }
  .small-photo img {
    width: 80px; /* Adjust the width of the small photo as desired */
    height: auto; /* Maintain aspect ratio */
  }
  .downArrow {
    position: relative;
  }

  .downArrow {
    position: absolute;
    top: 150vw; /* You can adjust this value to control the distance from the bottom */
    left: 40vw;
  }

  .downArrow img {
    width: 20vw; /* Adjust this value to set the desired width */
    opacity: 0.7;
  }




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
}

.barContainer {
  width: 90%;
  height: 100vh;
  margin: 0;
}

.formItem {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}




.bar-container {
  display: block;
  position: relative;
  height: 60px;
}


.formItem .formMenu {
  position: relative;
  padding-top: 120px;
  top: 5vh;
  height: 90vh;
  width: 100%;
  transform: translateX(120%);
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: rgba(236, 192, 201, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border-radius: 5%;
}




.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.contactForm.submitted {
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.formTitle {
  position: relative;
  font-size: 5vw;
  margin-bottom: 10%;
  position: relative;
  font-family: 'Comfortaa', cursive;
  color: #ffffff;
  font-weight: bold;
}


label {
  font-weight: bold;
  color: #333;
  font-size: 3vw;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 2vw;
  color: #ffffff;
  font-weight: bold;
}

.formInput {
  width: 100%;
  height: 8%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10%;
  border-radius: 2vw;
  font-size: 3vw;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.submitButton {
  position: relative;
  width: 50%;
  height: 10%;
  background-color: #E5017D;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20vw; /* Adjust the value as needed */
  font-size: 5vw;
  color: #ffffff;
  font-weight: bold;
  justify-content: center;
  align-self:flex-start;
}


.close {
  position: absolute;
  top: 5vw;
  right: 5vw;
  width: 10vw;
  height: 10vw;
  color: #333;
  font-size: 10vw;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  border: none;
}




