@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
#our-services {
  margin-top: 60vw;     
}
.our-services {
  display:flex;
  position: relative;
  height: 100vw;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  margin-bottom: -60px;
  font-family: 'Comfortaa', cursive;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.services-text {
  font-size: calc(3.5vw + 1vh);
  color: white;
  padding-left: 55%;
  font-family: 'Comfortaa', cursive;
}
.dental {
  width: 90vw;
  height: auto;
  z-index: 1;
  margin-bottom: 4vw;
  margin-left: 4vw;
}
.plastic {
  width: 90vw;
  height: auto;
  z-index: 1;
  margin-bottom: 4vw;
  margin-left: 4vw;
}
.ivf {
  width: 90vw;
  height: auto;
  z-index: 1;
  margin-bottom: 4vw;
  margin-left: 4vw;
}
.hair {
  width: 90vw;
  height: auto;
  z-index: 1;
  margin-bottom: 4vw;
  margin-left: 4vw;
}
.services-image {
  /* position: absolute; */
  top: 0%;
  right: 0%;
  width: auto;
  max-height: 100%; /* Limit the image height to match the .our-services height */
}

.service {
  display: flex;
  margin-bottom: 4vw;
  margin-left: 4vw;
}

.service-container1, .service-container3{
  position: relative;
  width: 90vw;
  height: auto;
  z-index: 1;
  top: 0;
  left: -100%;
}

.service-container2, .service-container4 {
  position: relative;
  width: 90vw;
  height: auto;
  z-index: 1;
  top: 0;
  left: 0;
  left: -100%;
}

.serviceTitle {
  position: relative;
  font-size: 8vw;
  color: rgb(0, 0, 0);
  font-family: 'Comfortaa', cursive;
  text-align: center;
  margin: 5%;
}

.servicesClick {
  position: absolute;
  top: 80%; /* Adjust as needed */
  left: 80%; /* Adjust as needed */
  width: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(2vw + 1vh);
  color: rgb(164, 68, 68);
  font-family: 'Comfortaa', cursive;
  text-align: left;
  word-wrap: break-word;
}

.our-services a {
  background-color: rgb(255, 255, 255);
}


