@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
.whyDoc2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: auto;
  background-color: rgb(255, 255, 255);
  font-family: 'Comfortaa', cursive;
}
.whyTitle{
  font-weight: bold;
  font-size: 10vw;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Comfortaa', cursive;
  color:black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.whyDoc2Cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.whyCol{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
  color: black;
  margin: 2%;
/*   border: 1px solid black;
  box-sizing: border-box;   */
}
.colIcon2{
  display: flex;
  align-items: center;
  flex: 1;
  height: 30%;
  justify-content: center;
  margin: 0%;
  margin-bottom: 5%;
}
.itemTitle{
  text-align: center;
  margin-bottom: 2%;
  flex: 1;
  font-size: 5vw;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-shadow: -0.3px -0.3px 0 #000, 0.3px -0.3px 0 #000, -0.3px 0.3px 0 #000, 0.3px 0.3px 0 #000;
}

.imageContainer{
  display: flex;
  position: relative;
  flex: 4;
  width: 60%;

}

.pinnedNote{
  display: flex;
  width: 100%;
  height: 70%;
  position: relative;
}

.explanation{
  position: absolute;
  text-align: center;
  left: 10%;
  top: 30%;
  width: 80%;
  font-size: 3.4vw;
  font-family: 'Comfortaa', cursive;
}
