@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.whyDoc {
  height: 500vw;
  background-color: rgb(255, 255, 255);
  font-family: 'Comfortaa', cursive;
}
.container {
  padding-top: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
}
.row1{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  position: relative;
  top: 10%;
}

.row2{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  position: relative;
  top: 30%;
}

.row3{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  position: relative;
  top: 30%;
}

.row4{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  position: relative;
  top: 30%;
}

.row5{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  position: relative;
  top: 30%;
}

.rowLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.rowLeft img {
  width: 60vw;
}
.rowLeft div{
  font-size: 3vw;
}
.rowRight{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.rowRight div{
  font-size: 5vw;
}