@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.whyDoc {
  height: 690vw;
  background-color: rgb(255, 255, 255);
  font-family: 'Comfortaa', cursive;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  position: relative;
  top: 20%;
}
.whyDocTitle{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 8vw;
}

.row{
  display: flex;
  flex-direction: column;
  margin-bottom: 15%;
  position: relative;
  top: 10%;
}

.rowLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.rowLeft img {
  width: 60vw;
}
.rowLeft div{
  font-size: 3vw;
}
.rowRight{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.rowRight div{
  font-size: 5vw;
}